*{
    box-sizing: border-box;
}
table{
    margin: auto;
    width:60%;
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 1.2rem;
}
table#details tr:nth-child(even)
{
    color:hotpink;
    background-color: lawngreen;
}
table#details tr:nth-child(odd){
    color:gold;
    background-color: grey;
}
table#details th{
    color:black;
    background-color: blue;
}