.grid-container{
    display: grid;
    grid-template:  150px 100px  50px / auto auto auto;
    background-color: #2196F3;
    grid-gap: 20px 40px;
    padding: 15px;
}
.grid-item{
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 1.5rem;
}
.item1{
    grid-column: 1 / span 3;
    grid-row:  1 /span 3;
}
