.container{
    width:100%;
}
.header,.footer{
    color:white;
    background-color: #000080;
    text-align: center;
    padding:1em;
}
.nav{
    float:left;
    max-width: 160px;
    padding:1em;
    margin:0;
    width:25%;
}
.article{
    width:75%;
}
.nav ul li{
    list-style-type: none;
}
.nav ul li a{
    text-decoration: none;
}
.article{
    margin-left:170px;
    border-left:1px solid gray;
    padding:1em;
    overflow:hidden;
}
.footer{
    clear:left;
}